<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InfoPacienteServlet</servlet-name>
        <servlet-class>ControladorPacientes.InfoPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPacienteServlet</servlet-name>
        <servlet-class>ControladorPacientes.EditarPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaPacienteServlet</servlet-name>
        <servlet-class>ControladorPacientes.BajaPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPacienteServlet</servlet-name>
        <servlet-class>ControladorPacientes.AltaPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaHospitalServlet</servlet-name>
        <servlet-class>ControladorHospitales.AltaHospitalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaHospitalServlet</servlet-name>
        <servlet-class>ControladorHospitales.BajaHospitalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarHospitalServlet</servlet-name>
        <servlet-class>ControladorHospitales.EditarHospitalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoHospitalServlet</servlet-name>
        <servlet-class>ControladorHospitales.InfoHospitalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaHabitacionServlet</servlet-name>
        <servlet-class>ControladorHabitaciones.AltaHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaHabitacionServlet</servlet-name>
        <servlet-class>ControladorHabitaciones.BajaHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarHabitacionServlet</servlet-name>
        <servlet-class>ControladorHabitaciones.EditarHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoHabitacionServlet</servlet-name>
        <servlet-class>ControladorHabitaciones.InfoHabitacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoPacienteServlet</servlet-name>
        <url-pattern>/InfoPacienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPacienteServlet</servlet-name>
        <url-pattern>/EditarPacienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaPacienteServlet</servlet-name>
        <url-pattern>/BajaPacienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPacienteServlet</servlet-name>
        <url-pattern>/AltaPacienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaHospitalServlet</servlet-name>
        <url-pattern>/AltaHospitalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaHospitalServlet</servlet-name>
        <url-pattern>/BajaHospitalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarHospitalServlet</servlet-name>
        <url-pattern>/EditarHospitalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoHospitalServlet</servlet-name>
        <url-pattern>/InfoHospitalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaHabitacionServlet</servlet-name>
        <url-pattern>/AltaHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaHabitacionServlet</servlet-name>
        <url-pattern>/BajaHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarHabitacionServlet</servlet-name>
        <url-pattern>/EditarHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoHabitacionServlet</servlet-name>
        <url-pattern>/InfoHabitacionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
